<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-full">
    <a class="navbar-brand mx-5 nav-logo">The Store</a>
    

    <form class="form nav-search my-2 mt-2">
        <input class="form-control" ty0pe="search" placeholder="Search for Products">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav nav-bar-item mr-auto mt-2  ms-auto me-5 ">
        <li class="nav-item">
          <a class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Cart <span class="sr-only">(0)</span></a>
        </li>
      </ul>
      
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </nav>