
.nav-logo{
    font-size: 25px;
    color: rgb(175, 44, 192);
}
.nav-search{
    display: inline-flex;
    
   width: 550px !important; 
}

.nav-search input{
    border:0;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.nav-search button{
    border:0;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: rgb(155, 1, 175);
    background-color: white;
}

.nav-search button:hover{
    color: rgb(235, 86, 255);
}

.nav-bar-item  a{
    font-size: 18px;
    color: rgb(155, 1, 175);
}

.nav-bar-item a :hover{
    color: rgb(235, 86, 255);
}
.nav-item a:active{
    font-style: bold;
    font-size: 18px;
    color: rgb(155, 1, 175);
}