<nav class="navbar navbar-expand-lg navbar-dark bg-light navbar-full fixed-top ">
    <a class="navbar-brand mx-5 nav-logo" routerLink="/">The Store</a>
   
    <form class="form nav-search my-2 mt-2" *ngIf="menuType === 'default'">
        <input class="form-control" type="search" placeholder="Search for Products" #searchBox (keyup)="searchProduct($event)" (blur)="emptySearch()" >
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="submitSearch(searchBox.value)">Search</button>
        <ul class="search-result" *ngIf="searchResult">
          <li *ngFor="let item of searchResult">
            <a (mousedown)="redirectToDetail(item.id)">{{item.productName}}</a>
          </li>
        </ul>
    </form>

    
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngSwitch]="menuType">
      <!-- switch the navbar for default case -->
      <ul class="navbar-nav nav-bar-item mr-auto mt-2  ms-auto me-5 " *ngSwitchCase="'default'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="Active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/seller-auth"  routerLinkActive="Active">Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-auth">Login/signup</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link"><mat-icon >shopping_cart</mat-icon> </a>
        </li>
        <span class="cartCount">0</span>
      </ul>
      <!-- switch the navbar for seller-auth case -->
      <ul class="navbar-nav nav-bar-item mr-auto mt-2  ms-auto me-5 " *ngSwitchCase="'seller'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/seller-home" routerLinkActive="Active">Product List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/seller-add-product"  routerLinkActive="Active">Add Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">{{sellerName | titlecase}}</a>
        </li>
        <li class="nav-item" style="margin-top: 5px;">
            <a (click)="logout()"><mat-icon>exit_to_app</mat-icon></a>
        </li>
      </ul>

    </div>



    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </nav>
  <script src="node_modules/bootstrap/js/dist/dropdown.js">

  </script>