.card-radio {
    background-color: #eeeeeee1;
    border: 2px solid #eff0f2;
    border-radius: .75rem;
    padding: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block
}

.card-radio:hover {
    cursor: pointer;
    background-color: rgba(137, 43, 226, 0.253);
}

.card-radio-label {
    display: block
}

.card-radio-input {
    display: none
}

.font-size-16 {
    font-size: 18px!important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-end{
    text-align: end!important;
}
.backToShopping:hover{
    color: rgb(155, 1, 175);
}