.card {
    width: 190px;
    height: 254px;
    background: rgb(255, 255, 255);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(158, 158, 158, 0.705);
    font-weight: 500;
  }
  
  .card:hover {
    border-radius: 15px;
    transform: scale(1);
    box-shadow: 0px 0px 10px 5px  rgba(175, 175, 175, 0.705);
    background: rgb(255, 255, 255);
  }
  
  .first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
  }
  .first-content img{
    width: 190px;
    height: 254px;
    border-radius: 10px;
  }
  
  .card:hover .first-content {
    height: 0px;
    opacity: 0;
  }
  
  .second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    transform: rotate(90deg) scale(0);
  }
  
  .card:hover .second-content {
    opacity: 1;
    height: 100%;
    transform: rotate(0deg);
  }

  .card-body .card-title .card-description{
    
    font-size: 15px;
  }
  

  
