<div class="container">
  <div class="card mb-3"  *ngFor="let item of searchResult">
    <div class="row g-0 cardData">
      <div class="col-md-4 cardImage">
        <a routerLink="/details/{{item.id}}">
          <img src="{{item.image}}" class="img-fluid rounded-start" alt="{{item.productName}}">
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <a routerLink="/details/{{item.id}}">
              <h1 class="card-title">{{item.productName}}</h1>
          </a>
          <p class="card-text">{{item.description}}</p>
          <p class="card-text">Price(In ruppee): {{item.productPrice}}</p>
          <span class="card-text">Color: {{item.color}}</span>
          <span class="card-text ms-5">Category : {{item.productCategory}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

