#home{
    /* background-color: red; */
    height: 100%;
    width: 100%;
}

.homeSlider{
    margin-left: 10%;
    height: 80%;
    width: 80%;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.651),0 10px 30px 0 rgb(139, 139, 139);
}

.carousel-item img{
    height: 500px;
}
.home-heading{
    height: 100%;
    width: 100%;
    margin-top: 8%;
    margin-bottom: 4%;
    color: #111;
}
.home-heading h1{
    background-color: rgb(196, 196, 196);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    /* border: 1px solid black; */
}
.card-footer a{
    margin-left: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #111;
    cursor: pointer;
}
.card-footer a:hover{
    color: blueviolet;
}
.card img{
    height: 150px;
}
.homeTrendyItems{
    align-items: center;
}