<div class="home">
  <div class="homeSlider">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false" >
      <div class="carousel-inner" *ngFor="let item of popularProducts">
        <div class="carousel-item active">
          <img src="{{item.image}}" class="d-block w-80 h-80" >
          <div class="carousel-caption d-none d-md-block">
            <h1>{{item.productName}}</h1>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="homeTrendyItems">
    <div class="home-heading"> <h1>Trendy Products </h1></div>
    <div class="row ms-4">
      <div class="row row-col-sm-3" >
        <div class="card mb-3 ms-5" style="width: 18rem;" *ngFor="let item of trendyProducts">
          <img class="img-fluid mt-3" src="{{item.image}}" alt="...">
          <div class="card-body">
            <h4 class="card-title">{{item.productName}}</h4>
            <div class="text">
              <p class="card-text">{{item.description}}</p>
              <p class="card-text">Color:{{item.color}} </p>
              <p class="card-text">Price: {{item.productPrice}} </p>
            </div>
          </div>
          <div class="card-footer">
            <a href="">View Details</a>
            <a href="">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
