 
#main{
    width: 100%;
}
#center{
    margin-top: 2%;
    position: absolute;
    left: 20%;
    top:50%;
    transform: translate(0%,-50%);
    width: 70%;
    height: 80vh;
}
.imgContainer{
    position: absolute;
    overflow: hidden;
    height: 80vh;
    width:0;
}
img{
    height: 100vh;
}
.text{
    z-index: 1;
    position: absolute;
    margin-top: 300px;
    margin-left: -120px;
    line-height: 8vw;
    overflow: hidden;
    width: 500px;
    height: 110px;
}
.text p{
    font-size: 7vw;
    font-weight: 700;
    top: 100px;
    color: black;
    position: absolute;
}
#trendyItems{
    width: 100%;
    margin-top: 50%;
}

.card{
    left: 5%;
}
.card img{
    width: 260px;
    height: 200px;
}
.headingTrendy{
    margin: 20px 0px;
    padding: 10px 0;
    color: white;
    border: 1px solid rgb(102, 102, 102);
    text-align: center;
    border-radius: 5px;
    background-color: #000000;
}
.headingTrendy h1{
    padding-top: 10px;
    font-weight: 400;
    font-size: 4vw;
}
.card-footer a{
    margin-left: 25px;
    text-decoration: none;
    color: #111;
    cursor: pointer;
}
.card-footer a:hover{
    color: blueviolet;
}