<div class="container-fluid" style="margin-top: 5%;">

    <div class="container">
      <!-- Title -->
      <div class="d-flex justify-content-between align-items-center py-3">
        <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #{{orderData.id}}</h2>
      </div>
    
      <!-- Main content -->
      <div class="row">
        <div class="col-lg-8">
          <!-- Details -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-3 d-flex justify-content-between">
                <div>
                  <span class="badge rounded-pill bg-info">SHIPPING</span>
                </div>
              </div>
              <table class="table table-borderless">
                <tbody >
                  <tr *ngFor="let cart of cartData">
                    <td>
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <img src="https://www.bootdey.com/image/280x280/87CEFA/000000" alt="" width="35" class="img-fluid">
                        </div>
                        <div class="flex-lg-grow-1 ms-3">
                          <h6 class="small mb-0"><a href="#" class="text-reset">{{cart.productName}}</a></h6>
                          <span class="small">Color: {{cart.color}}</span>
                        </div>
                      </div>
                    </td>
                    <td>1</td>
                    <td class="text-end">${{cart.productPrice}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2">Subtotal</td>
                    <td class="text-end">${{priceSummary.subtotal}}</td>
                  </tr>
                  <tr>
                    <td colspan="2">Shipping</td>
                    <td class="text-end">${{priceSummary.delivery}}</td>
                  </tr>
                  <tr>
                    <td colspan="2">Discount (10% OFF)</td>
                    <td class="text-success text-end">-${{priceSummary.discount}}</td>
                  </tr>
                  <tr>
                    <td colspan="2">Tax (12%)</td>
                    <td class="text-danger text-end">${{priceSummary.tax}}</td>
                  </tr>
                  <tr class="fw-bold">
                    <td colspan="2">TOTAL</td>
                    <td class="text-end">${{orderData.totalPrice}}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <!-- Payment -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <h3 class="h6">Payment Method:</h3>
                  <p>Cash On Delivery <br>
                  Total: ${{orderData.totalPrice}}</p>
                </div>
                <div class="col-lg-6">
                  <h3 class="h6">Billing address:</h3>
                  <address>
                    <strong>{{orderData.name}}</strong><br>
                    {{orderData.address}}<br>
                    {{orderData.country}}, {{orderData.city}},{{orderData.zipcode}}<br>
                    <abbr title="Phone">P:</abbr> {{orderData.phone}}
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- Customer Notes -->
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="h6">Customer Notes</h3>
              <div class="" style="line-height: 10px;">

                <p>Hope You Enjoyed It, Keep shopping.</p>
                <p>Thanks For shopping with us.</p>
                <p>Have a nice day.</p>
              </div>
            </div>
          </div>
          <div class="card mb-4">
            <!-- Shipping information -->
            <div class="card-body">
              <h3 class="h6">Shipping Information</h3>
              <span><strong>Ekart Logistics  </strong> </span><br>
              <span><a href="#" class="text-decoration-underline" target="_blank"> FF1234567890</a> <i class="bi bi-box-arrow-up-right"></i> </span>
              <hr>
              <h3 class="h6">Address</h3>
              <address>
                <strong>{{orderData.name}}</strong><br>
                {{orderData.address}}<br>
                {{orderData.country}}, {{orderData.city}} {{orderData.zipcode}}<br>
                <abbr title="Phone">P:</abbr> {{orderData.phone}}
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
